.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 100px);
}
.form {
  padding: 10px;
  box-shadow: 2px 2px 4px 1px cadetblue;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.input {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 20px;
  color: chocolate;
  position: relative;
  input {
    color: chocolate;
    padding: 10px;
    border-radius: 8px;
    border-color: transparent;
    background-color: aliceblue;
    box-shadow: 2px 2px 4px 1px cadetblue;
  }
  input:focus {
    outline: none;
  }
}
.iconBtn {
  position: absolute;
  right: 10px;
  bottom: 8px;
  cursor: pointer;
  background: transparent;
}
.button {
  color: chocolate;
  padding: 10px;
  margin: 10px 0px;
  font-size: 15px;
  background-color: aliceblue;
  border-radius: 8px;
  box-shadow: 2px 2px 4px 1px cadetblue;
  border-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}
.button:hover {
  background-color: cadetblue;
  color: aliceblue;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}
.text {
  color: chocolate;
  font-size: 20px;
  margin: 5px;
  a {
    text-decoration: none;
    color: cadetblue;
  }
  a:hover {
    color: brown;
  }
}
