.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 100px);
}
.form {
  padding: 10px;
  box-shadow: 2px 2px 4px 1px cadetblue;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.input {
  display: flex;
  flex-direction: column;
  gap: 5px;
  input {
    padding: 10px;
    border-radius: 8px;
    border-color: transparent;
    background-color: aliceblue;
    box-shadow: 2px 2px 4px 1px cadetblue;
  }
  input:focus {
    outline: none;
  }
}
