.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 24px;
  color: gray;
}

.statList {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.item {
  border: 1px solid #8080801f;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 25px;
  width: 100%;
  box-sizing: border-box;
}