.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

.list {
  margin-bottom: 8px;
}

button {
  width: 100px;
  height: 25px;
  color: black;
  background-color: white;
  border-radius: 8px;
  border: solid 1px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

button:hover {
  color: aliceblue;
  background-color: blue;
}
